<!DOCTYPE HTML>

<html>
	<head>
		<title>Youtube Downloader</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>Youtube Downloader</h1>
				<p>Y2mate Online Downloader Video is a great tool for downloading music and videos from YouTube!
					It supports all popular formats: MP4, MP3, FLV, M4V, WMV, WEBM.
					You can download any video, and it is completely free!.</p>
			</header>

		<!-- Download Form -->
			<form id="download-form" method="post" action="/download">
				<input type="text" name="firstvideo" class="form-control" placeholder="Youtube url" />
				<p></p>
				<input type="submit" value="Download" class="btn-info btn-lg"/>
			</form>

	</body>
</html>
